body{background-color: white;}
#pb {
    background-color:buttonshadow;
    color:red;
    text-align:center;
    padding:0.1px;

}
#pc{
    line-height:20px;
    background-color:whitesmoke;
    height:30px;
    width:300px;
    text-align:left;}

#pd {
    background-color:maroon;
    color:white;
    clear:both;
    text-align:center;
    padding:0.1px;
    height: 50px;
}
#pm2 {
    background-color:buttonshadow;
    color:bisque;
    text-align:center;
    padding:0.1px;
}
#pm1{

    background-color:whitesmoke;
    padding:0.1px;
    text-align:left;

}
#pm3{
     background-color:blanchedalmond;
  
    padding:0.1px;
    height: 445px;


}
#k{
     background-color:blanchedalmond;  
    padding:0.1px;
    height: 500px;
    
}